body {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.contentBox {
  margin-top: 80px;
}

h1{
  margin-bottom: 100px;
}

.content {
  margin-top: 30px;
}

#signUp {
  margin-right: 15px;
}

Button {
  margin-top: 80px;
}

.errorMessage {
  margin-top: 80px;
}