<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

<body>
    <div class="contentBox">

        <h1>Login</h1>

        <form (submit)="login($event)">
            <div class="content">
                <h4 class="input-description">Username</h4>
                <input placeholder='Username' id="username" type="text" size="30" pInputText>
            </div>

            <div class="content">
                <h4 class="input-description">Password</h4>
                <input placeholder='Password' id="password" type="password" size="30" pInputText>
            </div>
            <div>
                <button pButton label="Create User" id="signUp" type="button" routerLink="/createUser"
                    class="ui-button-raised ui-button-rounded"></button>
                <button pButton label="Sign In" type="submit" class="ui-button-raised ui-button-rounded"></button>
            </div>
        </form>

        <div *ngIf="error" class="errorMessage">
            <p-message severity="error" text="Username or password wrong">
            </p-message>
        </div>
    </div>
</body>