<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

<body>
    <div class="contentBox">

        <h1>Create User</h1>

        <form (submit)="createUser($event)">
            <div>
                <h4 class="input-description">Username</h4>
                <input #input name="username" (input)="resetUsername()" id="username" placeholder='Username'
                    [(ngModel)]="user.username" type="text" size="30" pInputText>
                <div *ngIf="statusUsernameNotUnique" class="errorMessage">
                    <p-message severity="error" text="Username is already taken">
                    </p-message>
                </div>
                <div *ngIf="statusUsernameEmpty" class="errorMessage">
                    <p-message severity="error" text="Username cannot be empty">
                    </p-message>
                </div>
            </div>

            <div class="content">
                <h4 class="input-description">Password</h4>
                <input #password name="password" id="password" placeholder='Password' [(ngModel)]="user.password"
                    type="password" size="30" (input)="resetPassword()" pInputText>
                <div *ngIf="statusPasswordLength" class="errorMessage">
                    <p-message severity="error" text="Password has to be longer than 10 digits">
                    </p-message>
                </div>
                <div *ngIf="statusPasswordSpecial" class="errorMessage">
                    <p-message severity="error" text="Password has to contain a special letter">
                    </p-message>
                </div>
                <div *ngIf="statusPasswordUpper" class="errorMessage">
                    <p-message severity="error" text="Password has to contain an upper letter">
                    </p-message>
                </div>
            </div>

            <div class="content">
                <h4 class="input-description">Age</h4>
                <input placeholder='Age' id="age" type="number" size="30" pInputText>
            </div>

            <div class="content">
                <h4>
                    <p-checkbox name="isAdmin" label="Admin" [(ngModel)]="user.isAdmin" binary="true"></p-checkbox>
                </h4>
            </div>

            <div class="buttons">
                <button pButton label="Cancel" type="button" routerLink="/login"
                    class="ui-button-raised ui-button-rounded"></button>
                <button pButton label="Create User" id="create" type="submit" value="submit"
                    class="ui-button-raised ui-button-rounded"></button>
            </div>
        </form>

        <div *ngIf="success" class="successMessage">
            <p-message severity="success" text="User has been successfully created!">
            </p-message>
        </div>
    </div>


</body>