body {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
  
.contentBox {
    margin-top: 80px;
}

h1 {
    margin-bottom: 70px;
}

.content {
    margin-top: 30px;
}
  
#create {
    margin-left: 15px;
}
  
Button {
    margin-top: 40px;
    margin-bottom: 40px
}

.errorMessage {
    margin-top: 15px;
}